* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal-container {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  display: block;
}

.modal {
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.modal-bottom {
  transform: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px 20px 0px 20px;
  border-radius: 20px 20px 0px 0px;
}

.carting-button {
  width: 100%;
  height: 48px;
  border-radius: 12px;
}

.clicked {
  border: none;
  background: linear-gradient(
    91deg,
    #ff6f3b 0.72%,
    #ff4d0c 50.86%,
    #ff6d39 100%
  );
}

.disabled {
  border: none;
  background-color: #f5f5f5;
}

.non-clicked {
  background-color: white;
  border: 1.5px solid #f46a38;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.input-name {
  width: 100%;
  height: 40px;
  border-width: 0 0 1px;
  border-color: #f15a23;
}

.register-inner-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
}

.register-outer-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

p.question {
  font-size: 28px;
  font-weight: 700;
  color: #222;
}

p.description {
  font-size: 14px;
  color: #00000080;
}

p.bold {
  font-weight: 700;
}

div.question-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}
